<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular2-Ahub</title>
    <base href="/" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/fonts/feather/style.min.css" />
    <link rel="stylesheet" href="~/assets/fonts/font-awesome/css/font-awesome.min.css" />

</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    @RenderBody()
</body>

</html>