<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-xs-12 mb-0">
                <ul class="list-inline mb-2">
                    <li>
                        <h3 class="content-header-title"><b>{{data.name}}</b></h3>
                    </li>
                    <li style="float:right ;">
                        <a class="btn btn-outline-primary" style="border-radius:10px; padding: 8px; padding-right: 20px; padding-left: 20px;">New Run</a>
                        <a class="btn btn-outline-primary" style="border-radius:10px; padding: 8px; padding-right: 20px; padding-left: 20px;">Edit</a>
                        <a class="btn btn-outline-red" style="border-radius:10px; padding: 8px; padding-right: 20px; padding-left: 20px;">Delete</a>
                    </li>
                </ul>
                <div class="content-header-left col-md-9 col-xs-9 mb-0">
                    <p style="padding-bottom:0;">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1
                        text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1
                        text1 text1 text1 text1 text1 text1 </p>
                </div>
            </div>
        </div>
        <hr style="border-top-width: 3px;">
        <div class="content-body">
            <ul class="list-inline mb-1">
                <li>Assets <span class="tag tag tag-pill tag-default">5</span></li>
            </ul>
            <section class="row">
                <div class="col-sm-12">
                    <!-- Kick start -->
                    <div id="kick-start" class="card">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>File Name</th>
                                        <th>Created</th>
                                        <th>Media Type</th>
                                        <th>Source</th>
                                        <th>Type</th>
                                        <th>Run Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="ft-download"></i></td>
                                        <td>test.csv</td>
                                        <td>7/10/17 2:14PM</td>
                                        <td>Comma Separated Values</td>
                                        <td>Algo Name</td>
                                        <td>Output</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td><i class="ft-download"></i></td>
                                        <td>image.jpg</td>
                                        <td>7/10/17 2:14PM</td>
                                        <td>Jpeg Image</td>
                                        <td>Uploaded</td>
                                        <td>Input</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/ Kick start -->
                </div>
            </section>
            <div class="row">
                <div class="col-sm-5 col-md-6">
                    <ul class="list-inline mb-1">
                        <li>Runs</li>
                    </ul>
                </div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                    <form class="form-inline list-inline mb-1" style="float: right;">
                        <i class="fa fa-sort-amount-desc"></i><label class="mr-sm-2">Sort By:</label>
                        <select class="form-control input-sm" style="min-width: 150px" id="SmallSelect">
                            <option selected value="1">Newest</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="content-body">
                <section class="row">
                    <div class="col-sm-12">
                        <!-- Kick start -->
                        <div id="kick-start" class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-4 primaryTitle"><b>Algo Name</b></div>
                                    <div class="col-md-4 secondTitle"><b>Run Status</b></div>
                                    <div class="col-md-4"> <a class="btn btn-outline-primary" style="border-radius:10px; padding: 8px; padding-right: 20px; padding-left: 20px;">Run Again</a></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">Started <b>7/10/17 at 2:15 PM</b></div>
                                    <div class="col-md-4">Completed <b>7/10/17 at 2:17 PM</b></div>
                                    <div class="col-md-4">Run Time <b>2 minutes</b></div>
                                </div>
                            </div>

                        </div>
                        <!--/ Kick start -->
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>