<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
        <!-- main menu header-->
        <div class="main-menu-header">
            <input type="text" placeholder="Search" class="menu-search form-control round" />
        </div>
        <!-- / main menu header-->
        <!-- main menu content-->
        <div class="main-menu-content">            
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class=" nav-item">
                    <a routerLink="library"><i class="ft-home"></i><span data-i18n="" class="menu-title" >Library</span></a>
                </li>
                <li class=" nav-item">
                    <a routerLink="projects"> <i class="ft-monitor"></i><span data-i18n="" class="menu-title">Projects</span></a>
                </li>
                <li class=" nav-item">
                    <a routerLink="docs"><i class="ft-layout"></i><span data-i18n="" class="menu-title">Docs</span></a>
                </li>
                <li class=" nav-item">
                    <a routerLink="settings"><i class="ft-zap"></i><span data-i18n="" class="menu-title">Settings</span></a>
                </li>
            </ul>
        </div>
</div>
   